body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 450px;
    height: 450px;
    /* background-color: coral; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    /* background-color: purple; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.given-number {
    background-color: whitesmoke;
}

.horizontal_line {
    border-bottom: 1px solid black;
}

.vertical_line {
    border-right: 1px solid black;
}

.tile-selected {
    background-color: #FFFF00; /* You can customize the background color as desired */
}

.victory-box {
    display: none; /* Hide the box by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
}

/* Style for the victory message */
.victory-box h2 {
    color: #4caf50;
    font-size: 24px;
    margin: 10px 0;
}

/* Optional style for a close button */
.victory-box .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #999;
}
