/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Board Styles */
#board {
    width: 450px;
    height: 450px;
    /* background-color: coral; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-selected {
    background-color: #FFFF00; /* You can customize the background color as desired */
}

.given-number {
    background-color: whitesmoke;
}

.horizontal_line {
    border-bottom: 1px solid black;
}

.vertical_line {
    border-right: 1px solid black;
}

/* Digits Styles */
#digits {
    width: 450px;
    height: 50px;
    /* background-color: purple; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.number-selected {
    background-color: gray;
}

/* Victory Box Styles */
.victory-box {
    display: none; /* Hide the box by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
}

.victory-box h2 {
    font-size: 24px;
    margin: 10px 0;
}

.victory-box .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #999;
}

/* Settings Container Styles */
#settings-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px 0; 
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
}

.pause-button {
    display: flex;
    justify-content: center;
    width: 10px;
}

.pause-button-icon {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Rounded Button Styles */
.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px; /* Adjust this value to change the roundness of the button */
    background-color: white; /* Change the background color as desired */
    color: black; /* Change the text color as desired */
    cursor: pointer;
}

.rounded-button:hover {
    background-color: gray; /* Change the background color on hover */
}